<div class="row">
  <div class="column column-50">
    <h1>Room: <%= @room.name %></h1>
    <%= content_tag :div, id: "room", data: [id: @room.id] do %>
    <%= end %>
    <ul>
      <li>
        <strong>Description:</strong>
        <%= @room.description %>
      </li>
    </ul>
  </div>
  <div class="column chat">
    <h2>Chat</h2>
    <div id="msg-container">
    </div>
    <div>
    </div>
      <textarea name="" id="msg-input" rows="3" placeholder="Message..."></textarea>
      <button id="msg-submit" class="button column" type="submit">Send</button>
    <div>
    </div>
  </div>
 </div>

<span><%= link "Edit", to: Routes.room_path(@conn, :edit, @room) %></span>
<span><%= link "Back", to: Routes.room_path(@conn, :index) %></span>
