<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :name %>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>

  <%= label f, :username %>
  <%= text_input f, :username %>
  <%= error_tag f, :username %>

  <div class="form-group">
    <%= inputs_for f, :credential, fn cf -> %>
      <%= label cf, :email %>
      <%= text_input cf, :email %>
      <%= error_tag cf, :email %>

      <%= label cf, :password %>
      <%= text_input cf, :password %>
      <%= error_tag cf, :password %>

      <%= label cf, :password_confirmation %>
      <%= text_input cf, :password_confirmation %>
      <%= error_tag cf, :password_confirmation %>
    <% end %>
  </div>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
